.pokemon-name {
  color: black;
  font-size: 24px;
  text-align: center;
  margin: 5px auto;
}

.pokemon-images {
  text-align: center;
}

.pokemon-info {
  font-size: 26px;
  color: rgb(81, 169, 81);
  text-align: left;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.description {
  color: black;
  text-align: left;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.pokemon-details {
  font-size: 16px;
  margin: 15px auto;
}

.show-more {
  cursor: pointer;
  font-size: 14px;
}
