.Error {
  padding-bottom: 70px;
  padding-top: 450px;
  margin-left: 600px;
}

@media screen and (min-width: 360px) and (max-width: 667px) {
  .pokemon-card {
    padding: 10px !important;
  }
}

@media screen and (min-width: 360px) and (max-width: 667px) {
  .pokemon-name-container {
    display: flex !important;
    width: 100% !important;
    height: 30px !important;
    align-items: center;
  }
}

@media screen and (min-width: 360px) and (max-width: 667px) {
  .pokemon-name {
    display: flex !important;
    font-size: 10px !important;
    margin-left: 0 !important;
    width: 100% !important;
    text-align: center !important;
    margin-right: 0 !important;
  }
}


