.pokemon-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*repeat pattern 3 times*/
  gap: 20px;
}

.pokemon-card {
  margin-top: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: #f8f8f8;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.pokemon-name {
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.pokemon-image {
  max-width: 100px;
  max-height: 100px;
  margin: 10px auto;
  display: block;
  color: black;
}

.base-experience {
  font-size: 14px;
  color: black;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-input-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-input {
  /* margin-bottom: 10px; */
  /* padding: 5px; */
  width: 100%;
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  border: none;
  outline: none;
}

.search-icon {
  cursor: pointer;
  transition: color 0.2s; 
  font-size: 1.2rem; 
  margin-right: 10px; 
  color: #8b8888; 
}

.search-input-container:focus-within .search-icon {
  color: #8ec0f7;
}

.clear-icon {
  font-size: 1.2rem;
  color: #b3aeae;
  cursor: pointer;
  margin-left: 5px;
}
