.game-index-color1,
.game-index-color2,
.game-index-color3,
.game-index-color4,
.game-index-color5 {
  width: 22px;
  height: 20px;
  border-radius: 30%;
}

.game-index-color1 {
  background-color: red;
}

.game-index-color2 {
  background-color: green;
}

.game-index-color3 {
  background-color: blue;
}

.game-index-color4 {
  background-color: pink;
}

.game-index-color5 {
  background-color: orange;
}

.main-container {
  height: 100%; 
}

.main {
  height: 100%;
  background-image: url('../assets/Images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 360px) and (max-width: 740px) {
  .main {
    background-image: url('../assets/Images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main {
    background-image: url('../assets/Images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
  }
}

@media screen and (min-width: 360px) and (max-width: 740px) {
  .small-images {
    margin-top: 240px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .small-images {
    margin-top: 270px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 360px) and (max-width: 740px) {
  .small-images .img{
    width: 100%;
    height: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .small-images .img{
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 360px) and (max-width: 740px) {
  .main-image-section {
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 95px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-image-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    align-items: center;
    margin-left: 10px;
  }
}

@media screen and (min-width: 360px) and (max-width: 740px) {
  .name {
    font-size: 12px;
  }
}

@media screen and (min-width: 360px) and (max-width: 740px) {
  .description-box {
    margin-top: 0px;
    padding: 0;
  }
}

@media screen and (min-width: 360px) and (max-width: 740px) {
  .game-indices {
    width: 100% !important;
    height: 20px !important;
    margin-bottom: 16px;
    justify-content: left;
  }
}




















@media screen and (min-width: 768px) and (max-width: 1024px) {
  .game-indices {
    width: 100% !important;
    height: 20px !important;
    margin-bottom: 16px;
    justify-content: left;
  }
}




