.Loader {
  position: absolute;
  background: white;
  top: 25em;
  left: 45em;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .search-input-container {
    margin-left: 12px !important;
    margin-right: 12px !important;
  }
}

@media screen and (min-width: 360px) and (max-width: 667px) {
  .search-input-container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

